* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lora', serif;
}

ol,
ul {
    list-style: none;
}

body {
    background: rgb(89, 2, 2);
    background: linear-gradient(90deg, rgba(89, 2, 2, 1) 0%, rgba(145, 16, 16, 1) 40%, rgb(225, 0, 0) 100%);
    background-repeat: no-repeat;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.logo {
    margin: 5rem;
}

.search-zone {
    display: flex;
}

.search-icon {
    width: 55px;
}

.search-type {
    margin: 0 1.2rem 0 2.5rem;
}

input[type=text] {
    padding: 1rem;
    border-radius: 30px;
    border-color: #000000;
    background-color: #D9D9D9;
}

input[type=text]:focus {
    outline: none;
}

#namePokemon {
    align-self: flex-start;
}

#btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.pokedex-body {
    padding: 3rem;
}

.pokedex-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
    place-items: center;
}

.card {
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    height: 400px;
    width: 219px;
}

.pokemon-sprite {
    width: 150px;
    background-color: rgba(255, 255, 255, .25);
    border-radius: 50%;

}

.pokemon-name {
    font-size: 20px;
    margin: 10px 0;
    font-weight: 700;
}

.pokemon-type {
    font-weight: 500;
    font-size: 15px;
}

.card:hover {
    animation: bounce 1s linear;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-15px);
    }

    60% {
        transform: translateY(-5px);
    }
}